<div id="<%= dom_id api %>">
  <p>
    <strong>Latitude:</strong>
    <%= api.latitude %>
  </p>

  <p>
    <strong>Longitude:</strong>
    <%= api.longitude %>
  </p>

  <p>
    <strong>Endereco:</strong>
    <%= api.endereco %>
  </p>

</div>
