<!-- app/views/apis/mapear.html.erb -->
<!DOCTYPE html>
<html>
<head>
  <title>Mapa da TomTom</title>
</head>
<body>
  <h1>Mapa da TomTom</h1>
  <%= image_tag "data:image/png;base64,#{@mapa}" %>
</body>
</html>
